<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th><%= @post.title %></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Tags</th>
    </tr>
    <tr>
      <td><%= @post.all_tags %></td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td>
        <%= link_to image_tag(@post.avatar.url, :size => '408x544') %>
      </td>
    </tr>
    <tr>
      <td>
        <%= @post.body %>
      </td>
    </tr>
    <tr></tr>
  </tbody>
</table>

<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <p><%= comment.body %></p>
      <p class="author">by <%= comment.author %> on <%= comment.created_at.to_s(:short) %></p>
    </li>
  <% end %>
</ul>

<%= form_for(@post.comments.new) do |f| %>
  <%= hidden_field_tag :post_id, @post.id %>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% if current_user %>
  <%= link_to 'edit', edit_post_path %>
<% end %>

