<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th><%= @post.title %></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Tags</th>
    </tr>
    <tr>
      <td><%= @post.all_tags %></td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td>
        <%= link_to image_tag(@post.avatar.url, :size => '408x544') %>
      </td>
    </tr>
    <tr>
      <td><%= @post.body %></td>
    </tr>
  </tbody>
</table>

<% if current_user %>
  <%= link_to 'edit', edit_post_path %>
  <%= link_to 'delete', post_path, method: :delete, data: { confirm: 'Are you sure?' }  %>
<% end %>

